@tailwind base;
@tailwind components;
@tailwind utilities;

.cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
}

.card{
    padding: 15px;
}

.card-img{
    width: 400px;
}

.card-price{
    font-size: 20px;
}

.FIRST{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}
.FIRST:hover{
    color: blue;
}